.widget {
  position: absolute;
  border-radius: 12px;
}

/* IMAGE */
.image-widget img {
  width: 100%;
  display: block;
}

/* RANDOM FACT */
.fact-widget {
  width: 220px;
  background: #111;
  padding: 1rem;
  font-size: 0.9rem;
}

/* JSON */
.json-widget {
  font-family: monospace;
  font-size: 18px;
  /* background: rgb(124, 118, 118, 0.5); */
  background: rgba(15,15,15,0.65);
  animation: float 6s ease-in-out infinite;
  transition: transform 0.3s ease;
  color: rgb(181, 179, 179);
  padding: 12px 16px;
  border-radius: 8px;
}

.json-line {
  line-height: 1.6;
}

.indent {
  padding-left: 20px;
}

.key {
  color: rgb(34, 156, 221);
}

.value {
  color: #fffa74;
}

.colon,
.comma,
.brace {
  color: rgb(232, 241, 232);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.json-widget:hover {
  transform: translateY(-10px);
}

/* QUOTE */
.quote-widget {
  font-family: monospace;
  font-size: 1.4rem;
}
