.widget {
  position: absolute;
  border-radius: 12px;
}

/* IMAGE */
.image-widget img {
  width: 100%;
  display: block;
}

/* RANDOM FACT */
.tech-fact-widget {
  width: 320px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 18px;
  background: linear-gradient(
    160deg,
    rgba(25, 25, 25, 0.95),
    rgba(10, 10, 10, 0.95)
  );
  color: #eaeaea;
  cursor: pointer;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.tech-fact-widget:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.6);
}

/* antenna section */
.antenna {
  margin-right: 0.5rem;
}

.antenna img {
  width: 87px;   
  opacity: 0.75;
}

/* signal pulse */
.pulse {
  position: absolute;
  top: 40px;
  left: 13.7%;
  width: 10px;
  height: 10px;
  background: #7aa2f7;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 162, 247, 0.5);
  }
  100% {
    box-shadow: 0 0 0 18px rgba(122, 162, 247, 0);
  }
}

/* text */
.fact-content {
  flex: 1;              
  padding-right: 1rem;
}

.fact-text {
  font-size: 1.2rem;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fact-text.show {
  opacity: 1;
}



/* JSON */
.json-widget {
  font-family: monospace;
  font-size: 18px;
  /* background: rgb(124, 118, 118, 0.5); */
  background: rgba(15,15,15,0.65);
  animation: float 6s ease-in-out infinite;
  transition: transform 0.3s ease;
  color: rgb(181, 179, 179);
  padding: 12px 16px;
  border-radius: 8px;
}

.json-line {
  line-height: 1.6;
}

.indent {
  padding-left: 20px;
}

.key {
  color: rgb(34, 156, 221);
}

.value {
  color: #fffa74;
}

.colon,
.comma,
.brace {
  color: rgb(232, 241, 232);
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.json-widget:hover {
  transform: translateY(-10px);
}

/* QUOTE */
.quote-widget {
  font-family: monospace;
  font-size: 1.4rem;
}


/* SPOTIFY PLAYED  */
.spotify-mini-player {
  width: 360px;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 1rem;

  background: #2a2a2a;
  border-radius: 18px;
  color: white;
}

/* album art */
.player-left img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}

/* center text */
.player-center {
  flex: 1;
  overflow: hidden;
}

.track-name {
  font-size: 0.95rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-name {
  font-size: 0.8rem;
  color: #b3b3b3;
}

/* controls */
.player-right {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  color: #b3b3b3;
}

.player-right .icon {
  cursor: default;
}

.player-right .play {
  font-size: 1.4rem;
  color: white;
}
